@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 53% 34%;
    --foreground: 0 0% 100%;

    --card: 220 25% 9%;
    --card-foreground: 0 0% 100%;

    --popover: 220 25% 9%;
    --popover-foreground: 0 0% 100%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 100% 33%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 13% 57%;
    --muted-foreground: 220 9% 46%;

    --accent: 217 91% 68%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 212 100% 65%;
    --input: 218 100% 17%;
    --ring: 217 91% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
}
